{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container py-5">
    <div class="mb-4">
        <a href="{% url 'index' %}" class="btn btn-link text-decoration-none text-muted ps-0">
            <i class="bi {% if LANGUAGE_BIDI %}bi-arrow-right{% else %}bi-arrow-left{% endif %} me-2"></i>{% trans "Back to Home" %}
        </a>
    </div>
    <h1>{% trans "Terms and Conditions" %}</h1>
    <div class="mt-4">
        {% if platform_profile and platform_profile.terms_conditions %}
            {{ platform_profile.terms_conditions|linebreaks }}
        {% else %}
            <p>{% trans "Terms and Conditions not available yet." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}