{% extends "core/emails/base_email.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Reset Your Password" %}</h1>
    
    <p>{% trans "Hello," %}</p>
    
    <p>{% trans "You are receiving this email because you requested a password reset for your account at" %} <strong>{{ site_name }}</strong>.</p>
    
    <p>{% trans "Please click the button below to choose a new password:" %}</p>
    
    <div style="text-align: center;">
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="button">{% trans "Reset Password" %}</a>
    </div>
    
    <p>{% trans "If the button above doesn't work, verify that you entered your username correctly and try pasting this link into your browser:" %}</p>
    
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="link-text">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
    
    <p>{% trans "Your username is:" %} <strong>{{ user.get_username }}</strong></p>
    
    <p>{% trans "If you did not request this, please ignore this email." %}</p>
    
    <p>{% trans "Thanks," %}<br>{% trans "The" %} {{ site_name }} {% trans "Team" %}</p>
{% endblock %}