{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <div class="module aligned">
            <div class="form-row">
                <label for="message">{% trans "Message for" %} {{ user_obj.username }} ({{ phone_number }}):</label>
                <textarea name="message" id="message" rows="10" cols="40" class="vLargeTextField" required></textarea>
            </div>
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Send WhatsApp Message' %}" class="default" name="_save">
            <a href="../../" class="button" style="float: right;">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>
{% endblock %}
